<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>795025967735-j9824plh9se2i25inrn6tjcavra4al7m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.795025967735-j9824plh9se2i25inrn6tjcavra4al7m</string>
	<key>API_KEY</key>
	<string>AIzaSyAMBQEYqS1QwPcfEp2gdPuZwCJzkMtT3PI</string>
	<key>GCM_SENDER_ID</key>
	<string>795025967735</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NomoSiOS.FT-Times</string>
	<key>PROJECT_ID</key>
	<string>shigo-f6599</string>
	<key>STORAGE_BUCKET</key>
	<string>shigo-f6599.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:795025967735:ios:3b9f3225812f2d50389472</string>
</dict>
</plist>
